body {
    align-items: center;
    justify-content: center;
    display: flex;
}

.calc-container {
    margin-top: 10vh;
    width: 55vh;
    height: 60vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    border: 2px solid black;
    font-size: 3vh;
}

.screen {
    margin-bottom: 1vh;
    width: 45vh;
    height: 12vh;
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid black;
}

.buttons {
    width: 50vh;
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.digits {
    width: 55vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.key {
    border: 2px solid black;
    width: 6vh;
    height: 6vh;
    margin: 0.5vh;
}
